* {
  padding: 0px;
  margin: 0px;
}
.container {
  margin: auto;
  display: flex;
  background-color: blue;
  flex-direction: column;
  max-width: 1000px;
}
.navbar {
  background-color: rgb(20, 20, 20);
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar::before {
  content: "";
  background-color: chartreuse;
  width: 50px;
  height: 50px;
}
.menu {
  flex-grow: 0.5;
  display: flex;
  background-color: cadetblue;
  list-style-type: none;
  justify-content: space-around;
  padding: 10px 5px;
}

.section {
  background-color: rgb(48, 57, 48);
  gap: 10px;
  padding: 10px 10px;
  columns: 4;
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.image {
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 5px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  text-align: justify;
  /* break-inside: avoid; */
  word-break: break-all;
}
.image > div {
  overflow: hidden;
}
.image > h2 {
  word-break: normal;
}
:is(h2, span) {
  padding: 0px 15px 15px 15px;
}
img {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.1s ease-in-out;
  transform-origin: bottom;
}
img:hover {
  filter: grayscale(0%);
  scale: 1.5;
}
@media (width<811px) {
  .section {
    columns: 3;
  }
}
@media (width<411px) {
  .section {
    columns: 2;
  }
}

.s-contain {
  width: 30px;
  height: 15px;
  border: 1px solid white;
  display: flex;
  border-radius: 10px;
}
.switch-a {
  width: 50%;
  height: inherit;
  background-color: green;
  border-radius: 10px;
}
.switch-b {
  width: 50%;
  height: inherit;
  background-color: green;
  border-radius: 10px;
}
.animA {
  animation: grow 0.25s linear forwards;
}
.animB {
  animation: shrink 0.25s linear forwards;
}
@keyframes grow {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@keyframes shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}
.hide {
  display: none;
}
.toRight {
  justify-content: flex-end;
}
