:root {
  --bright: white;
  --dark: rgb(20, 20, 20);
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Condensed";
}
body {
  color: var(--bright);
  transition: background-color 0.5s linear;
}
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}
.navbar {
  color: var(--dark);
  height: 80px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar::before {
  content: "Hello World";
  font-weight: 700;
  font-size: xx-large;
}
.menu {
  flex-grow: 0.5;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 10px 5px;
  background-color: var(--dark);
  border-radius: 5px;
  color: var(--bright);
  transition: background-color 0.5s linear;
}
.section {
  /* background-color: rgb(48, 57, 48); */
  gap: 10px;
  padding: 10px 10px;
  columns: 5;
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.image {
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  text-align: justify;
  /* break-inside: avoid; */
  word-break: break-all;
  transition: all 0.5s linear;
}
.image > div {
  height: 300px;
  overflow: hidden;
  margin-bottom: 15px;
}
.image > h2 {
  word-break: normal;
}
:is(h2, span) {
  margin: 0px 15px 15px 15px;
}
img {
  filter: blur(3px);
  transition: all 0.1s ease-in-out;
  /* transform-origin: top; */
}
img:hover {
  filter: grayscale(0%);
  scale: 1.2;
}
@media (width<811px) {
  .section {
    columns: 3;
  }
}
@media (width<411px) {
  .section {
    columns: 2;
  }
  .navbar::before {
    font-size: x-large;
  }
}

.s-contain {
  width: 30px;
  height: 15px;
  border: 2px solid var(--dark);
  scale: 1.3;
  border-radius: 20px;
}
.switch {
  width: 50%;
  height: 100%;
  background-color: var(--dark);
  border-radius: inherit;
  transition: translate 0.2s ease-in-out;
}
.translate-X {
  translate: 100% 0%;
}
.skeleton {
  /* opacity: 0.5; */
  animation: skeleton-img 1s linear infinite alternate;
}
@keyframes skeleton-img {
  0% {
    background-color: rgb(110, 109, 109);
  }
  100% {
    background-color: darkgrey;
  }
}
.bright {
  background-color: var(--bright);
  color: var(--dark);
}
.dark {
  background-color: var(--dark);
  color: var(--bright);
}
