:root {
  --bright: #1de9b6;
  --dark: #000000;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Condensed";
}
html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bright);
  color: var(--bright);
  transition: background-color 0.5s linear;
}
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  --max-width: 1000px;
  max-width: var(--max-width);
  position: relative;
}
.container div {
  scroll-snap-align: start;
}
.toTop {
  position: fixed;
  width: 3.2em;
  height: 3.2em;
  background-color: var(--bright);
  border-radius: 50%;
  bottom: 2vw;
  right: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: screen;
  transition: bottom 0.2s cubic-bezier(0.68, -0.55, 0, 2.04) 1s;
}
.offScreenTop {
  bottom: -55px;
}
.toTop::before {
  content: "";
  width: 40px;
  height: 40px;
  background: url(arrowUp.svg);
}
li a {
  color: var(--bright);
  text-decoration: none;
  font-weight: 700;
}
.navbar {
  color: var(--dark);
  height: 80px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar::before {
  content: "Hello World";
  font-weight: 700;
  font-size: xx-large;
}
.menu {
  flex-grow: 0.5;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 10px 5px;
  background-color: var(--dark);
  border-radius: 5px;
  color: var(--bright);
  transition: background-color 0.5s linear;
}
.section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 10px;
  justify-content: center;
}
.image {
  flex-basis: 188px;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  text-align: justify;
  break-inside: avoid;
  word-break: break-all;
  transition: all 0.2s linear;
  transform-origin: top;
  position: relative;
}
.image > div {
  height: 300px;
  overflow: hidden;
  margin-bottom: 15px;
}

:is(h2, span) {
  margin: 0px 15px 15px 15px;
}
.image > h2 {
  margin-bottom: 10px;
}
.image > span {
  overflow: hidden;
  --max-lines: 4;
  line-height: 1em; /*1em==16px*/
  max-height: calc(var(--max-lines) * 1em);
}

.image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 40px;
  background: linear-gradient(0deg, var(--dark) 30%, rgba(0, 0, 0, 0) 100%);
  bottom: 0px;
  pointer-events: none;
}
.image img {
  filter: grayscale(100%);
  transition: all 0.1s ease-in-out;
  transform-origin: bottom;
}
.image img:hover {
  filter: grayscale(0%);
  scale: 1.2;
}

.s-contain {
  width: 30px;
  height: 15px;
  border: 2px solid var(--dark);
  /* scale: 1; */
  display: flex;
  border-radius: 20px;
}
.switch {
  width: 50%;
  background-color: var(--dark);
  border-radius: 100%;
  translate: 0% 0%;
  scale: 1.1;
  transition: translate 0.2s ease-in-out;
}
.translate-X {
  translate: 100% 0%;
}
.skeleton {
  /* opacity: 0.5; */
  animation: skeleton-img 1s linear infinite alternate;
}

.footer {
  display: flex;
  background-color: var(--bright);
  color: var(--dark);
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  border-radius: 5px;
}
.footer img {
  width: 15%;
}
.footer span {
  font-size: xx-large;
}

@keyframes skeleton-img {
  0% {
    background-color: rgb(110, 109, 109);
  }
  100% {
    background-color: darkgrey;
  }
}
.bright {
  background-color: var(--bright);
  color: var(--dark);
}
.dark {
  background-color: var(--dark);
  color: var(--bright);
}

@media (width<811px) {
  .toTop {
    right: 5vw;
  }
}

@media (width<411px) {
  .toTop {
    width: 2.8em;
    height: 2.8em;
  }
  .image {
    flex-basis: 45vw;
  }
  .navbar::before {
    font-size: x-large;
  }
  .image > h2 {
    font-size: larger;
  }
  .image > span {
    font-size: medium;
  }
  .footer img {
    width: 30%;
  }
  .footer span {
    font-size: x-large;
  }
}
